<div class="flex h-screen bg-gray-100 overflow-hidden">

  <!-- SIDEBAR -->
  <app-sidebar
    [isOpen]="isSidebarOpen()"
    (close)="closeSidebar()"
    [rol]="usuario()?.rol"
    [nombreUsuario]="usuario()?.nombre"
    (logout)="onLogout()"
  />

  <!-- MAIN -->
  <div class="flex-1 flex flex-col min-w-0 overflow-hidden">

    <!-- HEADER -->
    <app-header
      [pageTitle]="pageTitle"
      [pageSubtitle]="pageSubtitle"
      [pedidosActivos]="pedidosActivos"
      [nombreUsuario]="usuario()?.nombre"
      [notificaciones]="notificaciones"
      (notificacionClick)="onNotificacionClick($event)"
      (toggleSidebar)="toggleSidebar()"
    />

    <!-- CONTENIDO DE CADA PÁGINA -->
    <main class="flex-1 overflow-y-auto p-6">
      <router-outlet/>
    </main>
  </div>
</div>